<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="bk" class="com.book.bean.Book">
<property name="bid" value="1510"/>
<property name="bookname" value="Game Of Thrones"/>
<property name="price" value="550"/>
<property name="authour" value="George Rr Martin"/>
</bean>


</beans>